.cardContainer {
    max-width: 240px;
    margin: 20px;

    .artistImg {
        height: 140px;
        width: 140px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 20px;
    }
}

