@import "../../../variables.scss";

.MuiCard-root {
    overflow: visible !important;
}

.cardContainer {
    position: relative;
    width: 240px;
    margin: 20px;
    border: 2px solid $black;
    border-radius: 0px !important;

    div.outerCard {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15px;
        left: 15px;
        border: 2px solid $black;
        background-color: $red;
        z-index: -1;
    }

    .artistImgContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        div.horizontal-rule {
            position: absolute;
            width: calc(100% - 20px);
            border-bottom: 2px solid $black;
        }

        .artistImg {
            background-color: $red;
            border: 4px solid black;
            height: 140px;
            width: 140px;
            border-radius: 50%;
            z-index: 1;
        }
    }

    .MuiCardContent-root {
        h2,
        h3,
        p {
            text-align: center;
        }

        h2 {
            font-weight: 700;
            color: $red;
            font-size: 32px;
        }
    }
}

.cardContainer:nth-of-type(odd) div.outerCard {
    background-color: $red;
}
.cardContainer:nth-of-type(even) div.outerCard {
    background-color: $blue;
}

.cardContainer:nth-of-type(4n+ 3) div.outerCard {
    background-color: $green;
}
.cardContainer:nth-of-type(4n+ 4) div.outerCard {
    background-color: $yellow;
}